<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EJS Example</title>
  </head>
  <body>
    <p><strong>Name:</strong><%=obj.name%></p>
    <p><strong>Age:</strong><%=obj.age%></p>
    <p><strong>Address:</strong><%=obj.address%></p>
    <br>
    
  </body>
</html>
