<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EJS Example</title>
  </head>
  <body>
    <h1>number addition</h1>
    <p>The sum of 5 and 10 is: <%= 5 + 10 %></p>
    <br>
    Cube of 3 is: <%= Math.pow(3, 3) %>
  </body>
</html>
