<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About</title>
  </head>
  <body>
    <%- include("../partials/menubar.ejs") %>
    <h1>Welcome to the About Page</h1>
    <p>This is an example of an EJS template rendering an about page.</p>
  </body>
</html>
